<section>
  <h2>All Jobs</h2>

  <section class="grid">
    <% @jobs.each do |job| %>
      <div>
        <%= link_to job.title, job_path(job) %> at <%= job.company.name %><br>
        <%= job.city %><br>
        level of interest: <%= job.level_of_interest %>
      </div>
    <% end %>
  </section>
</section>
