<section>
  <%= link_to "Create New Company", new_company_path %>
  <h2>All Companies</h2>

  <section class="grid">

    <% @companies.each do |company| %>
      <div>
        <h3><%= link_to company.name, company_path(company) %></h3>
        <%= link_to "Edit", edit_company_path(company) %><br>
        <%= link_to "Delete", company_path(company), method: "delete" %>
      </div>
    <% end %>
  </section>

</section>
