<section>
  <%= link_to "Create New Category", new_category_path %>
  <h2>All Categories</h2>

  <section class="grid">
    <% @categories.each do |category| %>
      <div>
        <h3><%= link_to category.title, category_path(category) %></h3>
        <%= link_to "Edit #{category.title}", edit_category_path(category) %><br>
        <%= link_to "Delete", category_path(category), method: :delete %>
      </div>
    <% end %>
  </section>
</section>
