<h3>All Categories</h3>

<h6><%= link_to "Create New Category", new_category_path %></h6>
<h5>Click on Category Name to Edit</h5>

<% @categories.each do |category| %>
  <%= link_to category.title, edit_category_path(category) %>
<% end %>
