<section>
  <h2><%= @category.title %></h2>

  <h3>Jobs</h3>
    <section class="grid">
      <% @category.jobs.each do |job| %>
      <div>
        <%= link_to job.title, job_path(job) %>
      </div>
      <% end %>
  </section>
</section>
